.donations-box {
    font-family: sans-serif;
}

.info-row-2 {
    font-family: sans-serif;
}

.Income-2 {
    font-family: sans-serif;
}

.donations-row-1 {
    font-family: sans-serif;
}

.donations-row-1 {
    font-family: sans-serif;
}

.donations-1 {
    font-family: sans-serif;
}