.header-main {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(9, 117, 5);
}

.parent-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.app-name-2 {
    font-weight: 700;
    font-family: helvetica;
    font-size: 50px;
    color: orange;
    font-style: italic;
    text-decoration: none;
    margin-left: 20px;
}

.home-links {
    font-family: sans-serif;
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 25px;
    text-decoration: none !important;
}

.links {
    color: white;
}