Header {
    height: 10vh;
    width: 100vw;
}

.home-base {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}

.main-comps {

}